@import 'common/uview.theme.scss';

$padding-lf: 30rpx;

$default-bg: #efeff4;
$color-bg: #4065e1;
$color-grey: #888888;
$color-red: #ff0000;
$color-green: #55aa00;
// 下边框颜色
$color-gray: #e4e7ed;


/*********弹性布局兼容性处理*********/
.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex-item {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

/*flex-direction属性决定主轴的方向（即项目的排列方向）。*/
.flex-direction-row-reverse {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.flex-direction-column-reverse {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

.flex-column {
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

/*默认情况下，项目都排在一条线（又称"轴线"）上。flex-wrap属性定义，如果一条轴线排不下，如何换行。*/
.flex-wrap-nowrap {
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}
.flex-wrap {
	-webkit-flex-wrap: wrap;
	-webkit-box-lines: multiple;
	-moz-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flex-wrap-reverse {
	-ms-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;
}

/*justify-content属性定义了项目在主轴上的对齐方式。*/
.justify-start {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.justify-end {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.justify-center {
	-webkit-box-pack: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.justify-between {
	-webkit-box-pack: space-between;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.justify-around {
	-webkit-box-pack: space-around;
	-moz-justify-content: space-around;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

.align-items {
	-webkit-box-align: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	align-items: center;
}

.align-end {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

/* 浮动 */
.fl {
	float: left;
}

.fr {
	float: right;
}

/*伪元素是行内元素 正常浏览器清除浮动方法*/
.clear-f:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

// 蓝色背景-字体白色-大按钮
.btn-b-blue{
		width: 670rpx;
		height: 94rpx;
		line-height: 94rpx;
		text-align: center;
		background: #406cff;
		border-radius: 10rpx;
		font-size: 36rpx;
		color: #ffffff;
	}

// 蓝色背景-字体白色-中按钮
.btn-m-blue{
		width: 325rpx;
		height: 94rpx;
		line-height: 94rpx;
		text-align: center;
		background: #406cff;
		border-radius: 10rpx;
		font-size: 36rpx;
		color: #ffffff;
	}
	
	// 蓝色背景-字体白色-小按钮
	.btn-s-blue{
			width: 120rpx;
			height: 50rpx;
			line-height: 50rpx;
			text-align: center;
			background: #406cff;
			border-radius: 5rpx;
			font-size: 24rpx;
			color: #ffffff;
		}
	
// 灰色背景-字体黑-中按钮
.btn-m-gray{
		width: 325rpx;
		height: 94rpx;
		line-height: 94rpx;
		text-align: center;
		background: #C7C7CC;
		border-radius: 10rpx;
		font-size: 36rpx;
		color: #000;
	}

// 文字溢出隐藏
.ellipsis-text{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
	